{% extends "auth/base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}

<div class="auth-wrapper">
  <div class="auth-container-card">
    <h2>ログイン</h2>
    
    <form
      action="{{ url_for('auth.login')}}"
      method="post"
      novalidate="novalidate"
    >
      {% for message in get_flashed_messages() %}
      <p class="flash-message">{{ message }}</p>
      {% endfor %} 
      
      {{ form.csrf_token }}

      <div class="form-group">
        {{ form.email.label }} 
        {{ form.email(placeholder="メールアドレス") }}
        {% for error in form.email.errors %}
        <span class="error-text">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="form-group">
        {{ form.password.label }} 
        {{ form.password(placeholder="パスワード") }}
        {% for error in form.password.errors %}
        <span class="error-text">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="main-action">
        {{ form.submit() }}
      </div>
    </form>

    <div class="auth-action-subrow">
      <a href="{{ url_for('crud.create_user') }}">
        <button type="button">新規登録</button>
      </a>
    </div>
  </div>
</div>

{% endblock %}